<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email" %>
    </div>
    <div class="field">
      <%= f.label :username %><br />
      <%= f.input_field :username, required: true %>
    </div>
    <div class="field">
      <%= f.label :password %><br />
      <%= f.input_field :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.input_field :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>
  </div>

  <br />

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
