 <table class="table justify-content-center">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
 <% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td>
      <div>
        <%= link_to 'Switch role', "/change_role/#{user.id}", method: :post %>
      </div>
    </td>
  </tr>
 <% end %>
</table>
