<div class="text-center">
  <h3 class="font-weight-bold">Welcome to your personal page <%= @user.username %></h3>
</div>

<div class="container user-profile-data">
  <div class="row">
    <div class="col-7 user-avatar-field">
      <div class="user-avatar">
        <% if @user.avatar.attached? %>
          <div class="image">
            <%= image_tag(@user.avatar, style:'width: 100%')%>
          </div>
        <% end %>
      </div>

      <div class="user-avatar-change">
        <%= simple_form_for @user, url: "/users/#{@user.id}/change_avatar", method: :post do |form| %>
          <div class="drop-field">
            <div class="file-upload-wrapper">
              <%= form.input :avatar, label: false, type: "file", id: "input-file-now" %>
            </div>
          </div>
          <div class="upload-button">
            <%= form.submit "Upload", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-24 user-data">
      <p><a class="font-weight-bold">Username:</a><a><%= @user.username %></a></p>
      <p><a class="font-weight-bold">Email:</a><a><%= @user.email %></a></p>
      <p><a class="font-weight-bold">Registration date:</a><a><%= @user.created_at %></a></p>

      <a class="nav-link"> <%= link_to 'Edit', edit_user_registration_path %></a>
    </div>
  </div>
</div>

<div class="container user-companies-data">
  <div class="row">
    <div class="col-7 user-companies">
      <h4 class="font-weight-bold">Your companies list</h4>
      <% @companies.each do |company| %>
        <div>
          <%= link_to company.name, company, { style: 'color: black;', class: "link" } %>
          <%= link_to 'Edit', edit_company_path(company) %>
          <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>

    <div class="col-24 user-rewards">
      <h4>List of available rewards</h4>
      <% if @rewards && @rewards != [] %>
          <table class="table">
            <tbody>
            <tr>
              <th>Company</th>
              <th>Reward</th>
            </tr>
        <% @rewards.each do |reward| %>
            <tr>
              <td><%= reward.company.name %></td>
              <td><%= reward.name %></td>
            </tr>
        <% end %>
            </tbody>
          </table>
      <% else %>
        <h5>Sadly you have no rewards yet</h5>
      <% end %>
    </div>
  </div>
</div>

