<h1>Company creation form</h1>

<%= simple_form_for @company do |f|%>
  <% if @company.errors.any? %>
    <% @company.errors.full_messages.each do |message| %>
      <li class="error"><%= message %></li>
    <% end %>
  <% end %>
  <div class="form-inputs new-company">
    <div class="field">
      <%= f.label :name %><br />
      <%= f.input_field :name, autofocus: true, required: true %>
    </div>
    <div class="field">
      <%= f.label "Tags" %><br />
      <%= f.input :tag_list, input_html:{data:{role:'tagsinput'}}, label: false %>
    </div>
    <div class="field">
      <%= f.label "Necessary goal" %><br />
      <%= f.input_field :goal, placeholder: "USD", required: true, value: false %>
    </div>
    <div class="field">
      <%= f.label "Expiration date" %><br />
      <%= f.input_field :expiration_date, as: :date, html5: true, required: true %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.input_field :description, as: :text, required: true,
                        input_html: { rows: 15 } %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Create", class: "btn btn-success" %>
  </div>
<% end %>
