<% if @company.goal <= @company.current_bank %>
  <div class="finished">
    <h3 class="font-weight-bold">This company has successfully reached its goal</h3>
    <h4>You can still review its content and donate supplies</h4>
  </div>
<% end %>

<h3 class="text-center" style="padding-bottom: 20px;">Company <a class="font-weight-bold">"<%= @company.name %>"</a> page</h3>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h5 class="font-weight-bold">Company information</h5>
      <p><a class="font-weight-bold">Founding goal: </a><%= @company.goal %>$</p>
      <p><a class="font-weight-bold">Expiration date: </a><%= @company.expiration_date %></p>
      <p><a class="font-weight-bold">Tags: </a><%= @company.tag_list %></p>
      <div>
        <p class="font-weight-bold">Description: </p>
        <div class="card company-description">
          <%= @company.description %>
        </div>
      </div>
      <% if current_user %>
        <% if (@company.user == current_user) || (current_user.role == 'admin') %>
          <%= link_to 'Edit', edit_company_path(@company) %>
        <% end %>
      <% end %>
    </div>

    <div class="col-18 company-rewards">
      <h5 class="font-weight-bold">Available rewards</h5>
      <div class="d-flex">
        <% @rewards.each do |reward| %>
          <div class="container border reward-container">
            <p><%= reward.name %></p>
            <p><a class="font-weight-bold">Price: </a><%= reward.price %></p>
            <a class="font-weight-bold">Description: </a>
            <div class="card reward-description"><%= reward.description %></div>

            <% if current_user %>
            <% if (@company.user == current_user) || (current_user.role == 'admin') %>
              <div class="btn-group">
                <a class="nav-link"> <%= link_to 'Edit', edit_company_reward_path(company_id: @company.id, id: reward.id) %></a>
                <a class="nav-link"> <%= link_to 'Delete', company_reward_path(company_id: @company.id, id: reward.id), method: :delete %></a>
              </div>
            <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if current_user %>
      <% if (@company.user == current_user) || (current_user.role == 'admin') %>
        <a class="nav-link" href="<%= new_company_reward_path(company_id: @company.id) %>">Add reward</a>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="text-center"><%= link_to 'Gallery', "/companies/#{@company.id}/company_gallery" %></div>

  <div class="d-flex align-items-center flex-column">
    <div class="donate-button-header">
      <h4 class="font-weight-bold">Donate a specific sum to project to show your interest</h4>
    </div>

    <div class="current-bank">
      <h4>Collected so far <%= @company.current_bank %>$</h4>
    </div>
    <% if @user_donations %>
      <div class="user-donation">
        <h5>Your part in project <%= @user_donations.amount %>$</h5>
      </div>
    <% end %>
  </div>

  <% if current_user %>
    <div class="d-flex justify-content-center">
      <a type="button" class="btn btn-success donate-button" href="<%= "/companies/#{@company.id}/donation"%>">
        Donate
      </a>
    </div>
  <% end %>
</div>


<div class="news-section">
  <h4>Latest company updates:</h4>
  <% @news_records.each do |record| %>
    <div class="news-record">
      <h5 class="heading font-weight-bold"><%= record.heading %></h5>
      <a class="content"><%= record.content %></a>
      <% if current_user %>
      <% if (@company.user == current_user) || (current_user.role == 'admin') %>
        <div class="delete">
          <%= link_to 'Delete', company_news_record_path(company_id: @company.id, id: record.id), method: :delete %>
        </div>
      <% end %>
      <% end %>
    </div>
  <% end %>

  <% if current_user %>
  <% if (@company.user == current_user) || (current_user.role == 'admin') %>
    <h4>News form:</h4>
    <%= simple_form_for @news_record, url: "/companies/#{@company.id}/news_records", method: :post do |form| %>
      <div class="form-inputs news-record">
        <div class="field">
          <%= form.input :heading, as: :string,
                         wrapper: false,
                         label: false,
                         input_html: {
                             autocomplete: 'off',
                             placeholder: "heading"
                         } %>
        </div>
        <div class="field">
          <%= form.input :content, as: :text,
                         wrapper: false,
                         label: false,
                         input_html: {
                             autocomplete: 'off',
                             placeholder: "tell people what's new happened"
                         } %>
        </div>
      </div>
      <div class="input-group-append">
        <%= form.submit "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  <% end %>
  <% end %>

</div>

<div class="container comments-section">
  <div class="font-weight-bold">Comments</div>
  <div class="new-comment">
    <% if current_user %>
      <%= simple_form_for @comment, url: company_comments_path(company_id: @company.id), method: :post, remote: true do |form| %>
        <div class="input-group mb-3">
          <%= form.input :content, as: :string,
                         wrapper: false,
                         label: false,
                         input_html: {
                             class: 'comment-input',
                             autocomplete: 'off',
                             placeholder: 'write a comment'
                         } %>
          <div class="input-group-append">
            <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="container border comments-content" data-channel-subscribe="company" data-company-id="<%= @company.id %>">
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="text-left font-italic">
          <%=comment.user.username %>
        </div>
        <p class="mb-1">
          <%= comment.content %>
        </p>
        <% if current_user %>
        <% if (@company.user == current_user) || (current_user.role == 'admin') %>
          <div class="delete">
            <%= link_to 'delete', company_comment_path(company_id: @company.id, id: comment.id), method: :delete %>
          </div>
        <% end %>
        <% end %>
        <div class="text-right">
          <small>
            <%= comment.created_at %>
          </small>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container border comments-content d-none" data-role="comment-template">
  <div class="comments">
    <div class="text-left font-italic" data-role="username">

    </div>

    <p class="mb-1" data-role="comment-content">

    </p>

    <div class="text-right">
      <small data-role="comment-date">

      </small>
    </div>
  </div>
</div>

