
<h3 class="text-center" style="padding-bottom: 20px;">Company <a class="font-weight-bold">"<%= @company.name %>"</a> page</h3>

<div class="container bg-light">
  <div class="row">
    <div class="col-7">
      <h5 class="font-weight-bold">Company information</h5>
      <p><a class="font-weight-bold">Category: <a/><%= @company.category %></p>
      <p><a class="font-weight-bold">Founding goal: <a/><%= @company.goal %>$</p>
      <p><a class="font-weight-bold">Expiration date: <a/><%= @company.expiration_date %></p>
      <div>
        <p class="font-weight-bold">Description: <p/>
          <%= @company.description %>
      </div>
      <% if @company.user == current_user %>
        <%= link_to 'Edit', edit_company_path(@company) %>
      <% end %>
    </div>

    <div class="col-24">
      <h5 class="font-weight-bold">Available rewards</h5>
      <div class="d-flex">
        <% @rewards.each do |reward| %>
          <div class="container bg-light border reward-container">
            <p><%= reward.name %></p>
            <p><a class="font-weight-bold">Price: <a/><%= reward.price %></p>
            <p><a class="font-weight-bold">Description: <a/><%= reward.description %></p>

            <%#= simple_form_for @paid_reward, url: "/companies/#{@company.id}/rewards/#{reward.id}/paid_rewards", method: :post do |form| %>
<!--              <div class="input-group-append">-->
                <%#= form.submit "Participate", class: 'btn btn-primary' %>
<!--              </div>-->
            <%# end %>

            <% if @company.user == current_user %>
              <div class="btn-group">
                <a class="nav-link"> <%= link_to 'Edit', edit_company_reward_path(company_id: @company.id, id: reward.id) %></a>
                <a class="nav-link"> <%= link_to 'Delete', company_reward_path(company_id: @company.id, id: reward.id), method: :delete %></a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @company.user == current_user %>
        <a class="nav-link" href="<%= new_company_reward_path(company_id: @company.id) %>">Add reward</a>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center flex-column">
    <div class="donate-button-header">
      <h4 class="font-weight-bold">Donate a specific sum to project to show your interest</h4>
    </div>

    <div class="current-bank">
      <h4>Collected so far <%= @company.current_bank %>$</h4>
    </div>
    <div class="user-donation">
      <h5>Your part in project <%= @current_user_donation %>$</h5>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success donate-button" data-toggle="modal" data-target="#donationWindow">
      Donate
    </button>

    <div class="modal fade donation-window" id="donationWindow" aria-hidden="true" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Submit donation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <%= simple_form_for @donation, url: "/companies/#{@company.id}/donate", method: :post do |form| %>
              <div class="input-group mb-3 d-flex justify-content-center">
                <%= form.input :amount, as: :float,
                               wrapper: false,
                               autofocus: true,
                               label: false,
                               input_html: {
                                   autocomplete: 'off',
                                   autofocus: true,
                                   placeholder: 'USD',
                                   value: false
                               } %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= form.submit "Donate", class: 'btn btn-primary' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="news-section">
  <% @news_records.each do |record| %>
    <div class="news-record">
      <%= record.content %>
    </div>
  <% end %>

  <% if @company.user == current_user %>
    <%= simple_form_for @news_record, url: "/companies/#{@company.id}/news_records", method: :post do |form| %>
      <%= form.input :content, as: :text,
                     wrapper: false,
                     label: false,
                     input_html: {
                         autocomplete: 'off',
                         placeholder: "tell people what's new happened"
                     } %>
      <div class="input-group-append">
        <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
      </div>
    <% end %>
  <% end %>
</div>


<div class="container comments-section">
  <div class="font-weight-bold">Comments</div>
  <div class="new-comment">
    <%= simple_form_for @comment, url: company_comments_path(company_id: @company.id), method: :post, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :content, as: :string,
                       wrapper: false,
                       label: false,
                       input_html: {
                           class: 'comment-input',
                           autocomplete: 'off',
                           placeholder: 'write a comment'
                       } %>
        <%#= form.drag_and_drop_file_field :image %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="container border bg-light" data-channel-subscribe="company" data-company-id="<%= @company.id %>">
    <div class="comments">
      <% @comments.each do |comment| %>
        <div class="text-left font-italic">
          <%=comment.user.username %>:
        </div>
        <p class="mb-1">
          <%= comment.content %>
        </p>
        <div class="text-right">
          <small>
            <%= comment.created_at %>
          </small>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="d-none" data-role="comment-template">
  <div class="col">
    <div class="comments">
      <p class="mb-1" data-role="comment-content">

      </p>

      <div class="text-right">
        <small data-role="comment-date">

        </small>
      </div>
    </div>
  </div>
</div>

