
<h3 class="text-center" style="padding-bottom: 20px;">Company <a class="font-weight-bold">"<%= @company.name %>"</a> page</h3>

<div class="container">
  <div class="row">
    <div class="col-7">
      <h5 class="font-weight-bold">Company information</h5>
      <p><a class="font-weight-bold">Category: <a/><%= @company.category %></p>
      <p><a class="font-weight-bold">Founding goal: <a/><%= @company.goal %></p>
      <p><a class="font-weight-bold">Expiration date: <a/><%= @company.expiration_date %></p>
      <div>
        <p class="font-weight-bold">Description: <p/>
          <%= @company.description %>
      </div>
    </div>

    <div class="col-24">
      <h5 class="font-weight-bold">Available rewards</h5>
      <% @rewards.each do |reward| %>
        <p><%= reward.name %></p>
        <p><a class="font-weight-bold">Price: <a/><%= reward.price %></p>
        <p><a class="font-weight-bold">Description: <a/><%= reward.description %></p>
      <% end %>

      <a class="nav-link" href="<%= new_company_reward_path(company_id: @company.id) %>">Add reward</a>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

<div class="container border bg-light" data-channel-subscribe="company" data-company-id="<%= @company.id %>">
  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="text-left font-italic">
        <%=comment.user.username %>:
      </div>
      <p class="mb-1">
        <%= comment.content %>
      </p>
      <div class="text-right">
        <small>
          <%= comment.created_at %>
        </small>
      </div>
    <% end %>
  </div>
</div>
<div class="new-comment">
  <%= simple_form_for @comment, url: company_comments_path(company_id: @company.id), method: :post, remote: true do |form| %>
    <div class="input-group mb-3">
      <%= form.input :content, as: :string,
                     wrapper: false,
                     label: false,
                     input_html: {
                         class: 'comment-input',
                         autocomplete: 'off'
                     } %>
      <%#= form.drag_and_drop_file_field :image %>
      <div class="input-group-append">
        <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
      </div>
    </div>
  <% end %>
</div>

<div class="d-none" data-role="comment-template">
  <div class="col">
    <div class="comments">
      <p class="mb-1" data-role="comment-content">

      </p>

      <div class="text-right">
        <small data-role="comment-date">

        </small>
      </div>
    </div>
  </div>
</div>

