<!DOCTYPE html>
<html>
  <head>
    <title>Crowd</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% unless session[:theme] %>
      <%= stylesheet_link_tag    'application', media: 'all' %>
    <% else %>
      <%= stylesheet_link_tag    session[:theme] + '/application', media: 'all' %>
    <% end %>
    <%= javascript_include_tag    'application' %>

    <link rel="icon" type="image/png" href="/assets/friendship.png">
  </head>

  <body>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <% if current_user and current_user.admin? %>
          <%= render partial:  'shared/admin_navigation_bar' %>
        <% end %>
        <%= render partial: 'shared/navigation_bar' %>
        <div class="my-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
